---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% unless page.title_hidden %}

    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}{% if page.read_time %} • <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %} • 
    {% if page.tags %} 
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
    {% endif %}
    </p>{% endif %}

    {% endunless %}

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.share != false %}
    {% include share-this.html %}
  {% endif %}

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}

</article>
